.container
{
    background-color: black;
    height: 478px;
    width: 240px;
    margin: auto;
    border-radius: 40px;
    display: flex; 
    overflow: hidden;   
}

img
{
    z-index: 5;
}

.video
{
    position: relative;
    right: 245px;  
    z-index: 1;
}

.video_incrusted
{
    height: 478px;
    width: 230px;
}

/* 
Travail de Nicolas Burger
https://sharemycode.io/c/2914334   https://sharemycode.io/c/b307901
*/

